{% extends 'shop/base.html' %}
{% block css %}
    <style>
      .col-md-3 {
        display: inline-block;
        margin-left: -4px;
      }
      .col-md-3 img {
        width: 100%;
        height: auto;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon {
        background-color: blue;
      }
      body .carousel-control-next, .carousel-control-prev{
      width:10%;
      }
      .card img {
        width: 100%;
        height: 18rem;
        object-fit: auto;
      }
      .productSection1{
        padding-left:8rem;
        padding-right:6rem;
      }

    </style>
{% endblock %}

{% block body %}
    {% load static %}
    <section class="productSection1">
        <div class="container">
            <h1>Home Decoration</h1>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="container carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                <!-- cards start here-->
                {% for product in products|slice:"0:" %}
                    <div class="col-xs-4 col-sm-4 col-md-3">
                        <div class="card" style="width: 18rem;">
                          <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">{{ product.description|slice:"0:50"}}...</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                          </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
{% endblock %}

