{% extends 'shop/base.html' %}
{% block css %}
    <style>
      .col-md-3 {
        display: inline-block;
        margin-left: -4px;
      }
      .col-md-3 img {
        width: 100%;
        height: auto;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon {
        background-color: blue;
      }
      body .carousel-control-next, .carousel-control-prev{
        width:1.5rem;
        margin: 0 -2rem;
      }
      .card img {
        width: 100%;
        height: 18rem;
        object-fit: auto;
      }
      .productSection1{
        padding-left:8rem;
        padding-right:6rem;
      }
       .cart:active {
        transform: scale(0.95);
       }

    </style>
{% endblock %}

{% block body %}
    {% load static %}
    {% for category, products in products_by_category.items %}
    <section class="productSection">
        <div class="container">
            <h3>{{ category }}</h3>
            <div id="carousel-{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">

              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                      {% for product in products %}
                          <div class="col-xs-4 col-sm-4 col-md-3">
                              <div class="card" style="width: 18rem;">
                                <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{ product.product_name }}</h5>
                                  <p class="card-text">{{ product.description|slice:"0:50" }}...</p>
                                  <button id="pr-{{product.id}}" class="btn btn-primary cart mx-1">Add to Cart</button>
                                  <a href="/shop/product/{{product.id}}">
                                    <button id="vm-{{product.id}}" class="btn btn-primary product_view mx-1">View More</button>
                                  </a>
                                </div>
                              </div>
                          </div>
                          <!-- Create a new carousel-item for every 4 products -->
                          {% if forloop.counter|divisibleby:4 and not forloop.last %}
                              </div> <!-- end of row -->
                          </div> <!-- end of carousel-item -->
                          <div class="carousel-item">
                              <div class="row">
                          {% endif %}
                      {% endfor %}
                    </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}

{% block js %}
<script>
if (localStorage.getItem('cart') == null){
    var cart = {}
}
else{
    cart = JSON.parse(localStorage.getItem('cart'));
}
$('.cart').click(function(){
    $(this).animate({
        transform: 'scale(0.9)'
    }, 100, function(){
        $(this).animate({
            transform: 'scale(1)'
        }, 100);
    });

    var idStr = this.id.toString();

    if(cart[idStr] != undefined){
        cart[idStr]+=1;
    }
    else{
        cart[idStr]=1;
    }
    localStorage.setItem('cart', JSON.stringify(cart))
    let total_item=0;
    Object.keys(cart).forEach(function(key) {
        total_item += cart[key];
    });
    console.log(total_item);
    document.getElementById('cart').innerHTML=total_item;
});

const exampleEl = document.getElementById('cartPopOver');
const popover = new bootstrap.Popover(exampleEl);

popover.setContent({
    '.popover-body': '<h5>Updated Cart Content</h5>'
});

</script>
{% endblock%}
