{% extends 'shop/base.html' %}
{% block css %}
    <style>
      .col-md-3 {
        display: inline-block;
        margin-left: -4px;
      }
      .col-md-3 img {
        width: 100%;
        height: auto;
      }
      body .carousel-indicators li {
        background-color: blue;
      }
      body .carousel-control-prev-icon,
      body .carousel-control-next-icon {
        background-color: blue;
      }
      body .no-padding {
        padding-left: 0;
        padding-right: 0;
      }
    </style>
    {% endblock %}
    {% block body %}
    {% load static %}
    <!-- Carousel -->
    <section class="productSection1">
    <div id="carouselExample" class="carousel slide">
<!--      <div class="carousel-indicators">-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">b1</button>-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2">b2</button>-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3">b3</button>-->
<!--      </div>-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <!-- Add more items as needed -->
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <!-- Add more items as needed -->
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>
  <section class="productSection1">
    <div id="carouselExample2" class="carousel slide">
<!--      <div class="carousel-indicators">-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">b1</button>-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2">b2</button>-->
<!--        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3">b3</button>-->
<!--      </div>-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <!-- Add more items as needed -->
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/couch1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <!-- Add more items as needed -->
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
               <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'images/cupboard.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>`
</section>
{% endblock %}
